:root {
	font-size: 20px;
}

body {
	font-family: 'League Spartan', sans-serif;
	overflow-x: hidden;
}

.overflow-hidden {
	overflow-y: hidden;
	overflow-x: hidden;
}

#image-bg-object {
	overflow: hidden;
	position: fixed;

	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('/resources/background.jpg') !important;
	background-position: center center;

	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: none;
	z-index: -1;
}
.loading #cookie {
	display: none;
}
.loading .navbar {
	display: none;
}
.loading #Benvenuti {
	display: none;
}

.loading .container-fluid {
	margin-top: 0px;
	display: none;
	overflow: hidden;
}

.nav-link.active {
	background-color: rgb(1, 56, 84) !important;
}
.navBar {
	background-color: rgb(72 47 86 / 70%) !important;
}
.navMenu {
	padding-top: 75px;
	padding-bottom: 20px;
}

.carousel-caption {
	top: 40%;
}

.carousel-item {
	height: 1024;
	overflow: hidden;
}
.carousel-item > img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	animation: none;
	transition: none;
}
.not-mobile {
	visibility: visible;
}
.only-mobile {
	visibility: hidden;
	display: none !important;
}

footer {
	position: fixed;
	bottom: 0px;
	z-index: -1;
}
/* Equal to lg of bootstrap 4.0 Responsive breakpoints */
@media screen and (max-width: 991.98px) {
	.carousel-item {
		height: 768;
	}
}
/* Equal to xs of bootstrap 4.0 Responsive breakpoints */
@media screen and (max-width: 575.98px) {
	.only-mobile {
		visibility: visible;
		display: flex !important;
	}
	.not-mobile {
		visibility: hidden;
		display: none !important;
	}
	.margin-mobile {
		margin-bottom: 2rem;
	}
	.carousel-item {
		height: 512;
	}
	footer {
		z-index: 1000;
	}
}

.footer {
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
}
.social-icon {
	font-size: 28;
}
.downloadTag {
	text-decoration: none !important;
	overflow: hidden;
	position: relative;
}
.downloadTag:hover,
.downloadTag:active {
	transform: translateX(2px) translateY(2px);
	box-shadow: -5px -5px 20px rgb(229 216 216 / 200%);
}

.downloadTag .liquid {
	position: absolute;
	top: -40px;
	left: 0;
	width: 200px;
	height: 220px;
	/* background-color: rgba(0, 222, 255, 0.3);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
	transition: 1s;
	pointer-events: none;
}

.downloadTag .liquid::after,
.downloadTag .liquid::before {
	content: '';
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
	/* background: #000; */
	box-shadow: inset 0 0 6px rgba(202, 228, 225, 0.98),
		0 0 30px rgba(202, 228, 225, 0.42), inset 0 0 12px rgba(30, 132, 242, 0.58),
		inset 0 0 22px rgba(30, 132, 242, 0.84),
		inset 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
}

.downloadTag .liquid::before {
	border-radius: 45%;
	/* background: rgba(20, 20, 20, 1); */
	animation: animate 5s linear infinite;
}

.downloadTag .liquid::after {
	border-radius: 40%;
	/* background: rgba(20, 20, 20, 0.5); */
	animation: animate 10s linear infinite;
}

.downloadTag:hover .liquid {
	top: -120px;
}

@keyframes animate {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

.pour {
	display: inline;
	position: absolute;
	background: #000;
	width: 5px;
	height: 0px;
	top: 44px;
	left: 50px;
	border-radius: 100px;
	animation: pour-animate 4.8s linear infinite;
}

#cookie {
	z-index: 10000;
	left: 50%;
	transform: translate(-50%, 0%);
}
.card {
	width: 400px;
	flex-direction: column;
	min-width: 0;
	color: #fff;
	word-wrap: break-word;
	background-color: #000;
	background-clip: border-box;
	border: 1px solid #000;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
	-moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
	box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.cookie a {
	text-decoration: none;
	color: #000;
	margin-top: 8px;
	font-size: 12px;
}

.cookie a {
	text-decoration: none;
	color: #fff;
	margin-top: 8px;
}

.decline {
	cursor: pointer;
}
