body {
	font-family: 'Merienda';
	font-size: 15px;
	overflow-x: hidden;
}

#image-bg-object {
	overflow: hidden;
	position: fixed;

	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('/images/background.jpg') !important;
	background-position: center center;

	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#content {
	margin-top: 86px;
}

.nav-item {
	padding-right: 12px;
	padding-left: 12px;
}

.nav-link.active {
	background-color: rgb(235, 229, 229) !important;
}

.navMenu {
	padding-top: 75px;
	padding-bottom: 20px;
}

.carousel-caption {
	top: 40%;
}

.carousel-item {
	position: relative;
	height: 1024;
	overflow: hidden;
}
.carousel-item > img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	animation: none;
	transition: none;
}

.only-mobile {
	visibility: hidden;
}

footer {
	position: fixed;
	bottom: 0px;
	z-index: -1;
}
/* Equal to xs of bootstrap 4.0 Responsive breakpoints */
@media screen and (max-width: 575.98px) {
	.only-mobile {
		visibility: visible;
	}
	.margin-mobile {
		margin-bottom: 2rem;
	}
	.carousel-item {
		height: 512;
	}
	footer {
		z-index: 1000;
	}
}

.footer {
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
}
.social-icon {
	font-size: 28;
}
